body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

hr {
    margin: 50px 0;
}

.add-button{
    margin: 0 50px;
}